[include]
	path = ~/.gitconfig.user
	path = ~/.gitconfig.delta
[core]
	editor = vim
[alias]
	s = status
	a = add
	c = commit
	ch = checkout
	d = diff
	l = log
	graph = log --graph --decorate --oneline
	find = log -i --name-status --grep
	rebaseUpstream = pull upstream master --rebase --autostash
	diffUpstream = diff-tree -r --no-renames --name-only --diff-filter=AM FETCH_HEAD HEAD
	commit-reference = show -s --pretty='format:%C(auto)%h (\"%s\")'
[diff]
	algorithm = histogram
[gui]
	warndetachedcommit = true
	spellingdictionary = none
	tabsize = 4
[sendemail]
	annotate = yes
	suppresscc = self
[gpg]
	program = gpg2
[init]
	defaultBranch = master
