[core]
	editor = vim
[alias]
	s = status
	a = add
	c = commit
	d = diff
	pullUpstream = pull upstream master --rebase --autostash
	graph = log --graph --decorate --oneline
[gui]
	warndetachedcommit = true
	spellingdictionary = none
	tabsize = 4
[include]
	path = ~/.gitconfig.user
